* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/* Colors*/
:root {
    --main-color: #f5b041;
    --second-color: #212f3d;
    --background-color: #F7FBFE;
}



section {
    background-color: var(--background-color);
    padding: 100px;
}

/*Home Css*/
#home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*Navbar*/
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    background: #fff;
    box-shadow: 0 1px  4px rgba(146, 176, 176, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: 0.5s;
}

.logo {
    text-transform: uppercase;
    font-size: 1.4rem;
    color: var(--second-color);
    font-weight: 700;
}

ul {
    display: flex;
}

ul li a {
    padding: 10px 22px;
    color: var(--second-color);
    border-radius: 2px;
    font-weight: 600;
    letter-spacing: 1px;
}

ul li a:hover {
    background: var(--main-color);
    color: #fff;
    border: none;
}

/*Home Text Css*/
.home-text{
    max-width: 500px;
}

.home-text h1 {
    color: var(--second-color);
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
    line-height: 4.5rem;
}

.home-text span {
   color: var(--main-color); 
}

.home-img {
    width: 500px;
    height: 500px;
}

.home-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/*Hire Me Button*/

.home-text a {
    padding: 12px 34px;
    background: var(--main-color);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.home-text a:hover {
    background: var(--second-color);
    box-shadow: 0 10px 34px rgba(0, 0, 0, 0.15);
}

/*Social*/

.social {
    position: absolute;
    display: flex;
    bottom: 8%;
    left: 144px;
}

.social i {
    margin-right: 24px;
    font-size: 24px;
    color: var(--second-color);
}

.social i:hover {
    color: var(--main-color);
}

/*Heading*/

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h2 {
    color: var(--second-color);
    border-bottom: 3px solid var(--second-color);
    font-size: 1.8rem;
}

.heading p {
    color: var(--second-color);
    margin-top: 0.5rem;
}

/*About*/


.about-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-img {
    width: 320px;
    height: 500px;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.about-text {
    width: 500px;
    justify-content: center;
}

.about-text h1 {
    font-size: 1.5rem;
    color: var(--second-color);
}

.about-text p {
    color: var(--second-color);
    margin: 5px 0 24px;
    text-align: justify;
    line-height: 1.8rem;
}

.about-text a {
    padding: 12px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.about-text a:hover {
    background: var(--second-color);
    box-shadow: 0 10px 34px rgba(0, 0, 0, 0.15);
}

/*Services*/

#services {
    display: none;
}


/*Projects*/

.project-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2.5rem;
}

.project {
    display: flex;

    align-items: center;
}




.project-text h1 {
    font-size: 1.5rem;
    color: var(--second-color);
    line-height: 2.4rem;
    letter-spacing: 1px;
}

.project-text p {
    font-size: 1rem;
    color: var(--second-color);
    line-height: 2rem;
    text-align: justify;
    margin: 5px 0 18px;
}

.project-text a {
    padding: 12px 20px;
    background: var(--main-color);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.project-text a:hover {
    background: var(--second-color);
    box-shadow: 0 10px 34px rgba(0, 0, 0, 0.15);
}

.project-img {
    width: 320px;
    height: 500px;
}

.project-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

/*Contact*/



.color p {
    color: #fff;
}

.color h2 {
    color: #fff;
    border-bottom: 3px solid #fff;
    font-size: 1.8rem;
}

#contact {
    background: var(--second-color);
}

.contact-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact-form {
    width: 360px;
    margin-top: 4rem;
}

.contact-form form input, 
.contact-form form textarea {
    width: 100%;
    font-size: 13px;
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin-bottom: 12px;
}

.contact-form form input::placeholder, 
.contact-form form textarea::placeholder {
    color: var(--second-color);
    letter-spacing: 1px;
}

.content-form form textarea {
    resize: none;
    height: 200px;
}

.contact-button {
    max-width: 100px;
    font-weight: 600;
    background: var(--main-color);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.app h1 {
    color: #fff;
}

/*Footer*/

.copyright {
    padding: 20px;
    background: var(--second-color);
    color: #fff;
    text-align: center;
}


/*Responsive*/

@media(max-width:991px){
    nav {
        padding: 10px 50px;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 60px;
        right: 100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: var(--second-color);
        transition: 0.5s ease;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        right: 0;
    }

    nav ul li a {
        font-size: 35px;
        line-height: 80px;
        color: #fff;
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }
    
    .toggle.active {
        background: url(img/menu.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    section {
        padding: 80px;
    }

    .home-text h1 {
        font-size: 2.5rem;
        margin-bottom: 1.8rem;
        line-height: 4rem;
    }
    
    .home-img {
        width: 400px;
        height: 400px;
    }

    .social {
        left: 110px;
    }

    .about-img {
        width: 250px;
        height: 400px;
    }

    .about-text {
        width: 400px;
    }

    .about-text h1 {
        font-size: 1.3rem;
    }

    .about-text p {
        line-height: 1.5rem;
    }

    .project-img {
        width: 250px;
        height: 300px;
    }

}