/*
colors

Dark Primary Color #388E3C
Light Primary Color #C8E6C9
Primary Color #4CAF50
Text / Icons #FFFFFF
Accent Color #CDDC39
Primary Text #212121
Secondary Text #757575
Divider Color #BDBDBD
*/

/*Header*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body{
    background-color: #C8E6C9;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #C8E6C9;
    min-height: 24vh;
    justify-content: center;
    align-items: center;
    border: 1px solid #BDBDBD;
    border-bottom: none;
    border-radius: 10px;
}

.header h2{
    letter-spacing: 4px;
    font-size: 48px;
    margin-bottom: 20px;
}

.header p {
    margin: -3px;
}

/*Home page*/

.home{
    display: flex;
    min-height: 64vh;
    justify-content: center;
    align-items: center;
    border: 1px solid #BDBDBD;
    border-bottom: none;
    border-radius: 10px;
}

.container {
    display: flex;
    background-color: #BDBDBD;
    min-width: 40vw;
    height: 40vh;
    margin: 10px;
    border: 1px solid #C8E6C9;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
}

.right-container{
    display: flex;
    flex-direction: column;
}

.right-container div {
    background-color: #406882;
    width: 20vw;
    height: 40vh;
    margin: 10px;
    border-radius: 15px;
}

/*Footer*/

.footer {
    display: flex;
    flex-direction: column;
    background-color: #C8E6C9;
    height: 12vh;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.footer-item{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.social-media-icon {
    display: flex;
    flex-direction: row;
    margin: 10px;
}